body{
font-size: larger;}
.grid{
display: grid;
grid-template-columns: 2fr;
padding: 10px 10px;
gap: 10px;
}

.redBox{
    text-align: center;
    background-color: red;
}

.blueBox{
    text-align: center;
    background-color: skyblue;
}
.yellowBox{
    text-align: center;
    background-color: yellow;
}
@media(min-width:600px){
    .grid{
        grid-template-columns: repeat(2, 2fr);
    }
}
@media(min-width:1100px){
    .grid{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .blueBox{
        grid-column: 3 / span 1;
        grid-row: 1 / span 3;
    }

    .yellowBox{
        grid-column: 4 / span 2;
        grid-row: 2/ span 2;
    }
}