body{
font-size: larger;}
.grid{
display: grid;
grid-template-columns: 2fr;
padding: 20px 10px;
gap: 10px;
}

.redBox{
    text-align: center;
    background-color: red;
}

.blueBox{
    text-align: center;
    background-color: skyblue;
}
.yellowBox{
    text-align: center;
    background-color: yellow;
}
@media(min-width:600px){
    .grid{
        grid-template-columns: repeat(2, 2fr);
    }
}